:root {
  --riho-header-h: 90px;
}

/* Fix header overlap */
.page-body {
  padding-top: var(--riho-header-h);
}

/* Sticky footer Riho */
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-body-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
}

.page-body {
  flex: 1 0 auto;
}

footer.footer,
.footer {
  margin-top: auto;
}
